<div class="col-lg-9" id="content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a [routerLink]="['../']" 
                class="btn btn-success">
                <i class="fa fa-list" aria-hidden="true"></i>
            </a>
            <span class="title">
                {{City.name }} 
            </span>
        </div>
        <div class="panel-body">
        <div class="alert alert-success" role="alert" *ngIf="successMessage">
            {{successMessage}}
        </div>
        <div class="alert alert-warning" role="alert" *ngIf="errorMessage">
            {{errorMessage}}
        </div>
            <form [formGroup]="CityForm"  (ngSubmit)="onSubmit(CityForm.value)" novalidate >
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">URL:</div>
                            <div class="col-md-8"  *ngIf="formFields.url =='url'">
                                {{City.url}} 
                            </div>
                            <div class="col-md-1">
                                <i class="fa fa-pencil btn btn-success" 
                                    (click)="setButtonClicked('','url')"
                                    *ngIf="formFields.url =='url'"
                                    aria-hidden="true">
                                </i>
                                <button type="submit" class="btn btn-success"
                                    *ngIf="formFields.url ==''" 
                                    (click)="setButtonClicked('url','url'); 
                                    onSubmit({url:City.url})">
                                    <i class="fa fa-floppy-o" aria-hidden="true">
                                    </i>
                                </button>
                            </div>
                            <div class="form-group col-md-8 url-form" 
                                *ngIf="formFields.url ==''"
                                [ngClass]="{'has-error':formErrors.url, 
                                'has-success':CityForm.controls['url'].valid}">
                                <input type="text" formControlName="url" 
                                [(ngModel)] ="City.url"
                                class="form-control" id="url"/>
                                <span *ngIf="formErrors.url" class="help-block error">
                                    {{ formErrors.url }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">Name:</div>
                            <div class="col-md-8" *ngIf="formFields.name =='name'">
                                {{City.name}} 
                            </div>
                            <div class="col-md-1">
                                <i class="fa fa-pencil btn btn-success" 
                                    (click)="setButtonClicked('','name')"
                                    *ngIf="formFields.name =='name'"
                                    aria-hidden="true">
                                </i>
                                <button type="submit" class="btn btn-success"
                                    *ngIf="formFields.name ==''"
                                    (click)="setButtonClicked('name','name'); 
                                    onSubmit({name:City.name})">
                                    <i class="fa fa-floppy-o" aria-hidden="true">
                                    </i>
                                </button>
                            </div>
                            <div class="form-group col-md-8" *ngIf="formFields.name ==''"
                                [ngClass]="{'has-error':formErrors.name, 
                                'has-success':CityForm.controls['name'].valid}">
                                <input type="text" formControlName="name" 
                                [(ngModel)] ="City.name"
                                class="form-control" id="name"/>
                                <span *ngIf="formErrors.name" class="help-block error">
                                    {{ formErrors.name }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">Active:</div>
                            <div class="col-md-8" [hidden]="visible">
                                <span *ngIf="City.active == Active"> Yes</span>
                                <span *ngIf="City.active == !Active"> No</span>
                            </div>
                            <div class="col-md-1">
                                <i *ngIf="City.active == Active" 
                                    style="cursor:pointer"
                                    (click)="Deactivate(City.id)"
                                    class="fa fa-eye" aria-hidden="true">
                                </i>
                                <i *ngIf="City.active == !Active" 
                                    style="cursor:pointer"
                                    (click)="Activate(City.id)"
                                    class="fa fa-remove" aria-hidden="true">
                                </i>
                            </div>
                            <div class="form-group col-md-8" [hidden]="!visible"
                                [ngClass]="{'has-error':formErrors.active, 
                                'has-success':CityForm.controls['active'].valid}">
                                <input type="number" formControlName="active" 
                                [(ngModel)] ="City.active"
                                class="form-control disabled" id="active"/>
                                <span *ngIf="formErrors.active" class="help-block error">
                                    {{ formErrors.active }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">Priority:</div>
                            <div class="col-md-8" *ngIf="formFields.priority == 'priority'">
                                {{City.priority}} 
                            </div>
                            <div class="col-md-1">
                                <i class="fa fa-pencil btn btn-success" 
                                    (click)="setButtonClicked('','priority')"
                                    *ngIf="formFields.priority =='priority'"
                                    aria-hidden="true">
                                </i>
                                <button type="submit" class="btn btn-success"
                                    *ngIf="formFields.priority ==''"
                                    (click)="setButtonClicked('priority','priority'); 
                                    onSubmit({priority:City.priority})">
                                    <i class="fa fa-floppy-o" aria-hidden="true">
                                    </i>
                                </button>
                            </div>
                            <div class="form-group col-md-8" *ngIf="formFields.priority == ''"
                                [ngClass]="{'has-error':formErrors.priority, 
                                'has-success':CityForm.controls['priority'].valid}">
                                <input type="number" formControlName="priority" 
                                [(ngModel)] ="City.priority"
                                class="form-control" id="priority"/>
                                <span *ngIf="formErrors.priority" class="help-block error">
                                    {{ formErrors.priority }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">Created:</div>
                            <div class="col-md-9">
                                {{City.created_at | date}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">Updated:</div>
                            <div class="col-md-9">
                                {{City.updated_at | date}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">Keywords:</div>
                            <div class="col-md-8" *ngIf="formFields.keywords == 'keywords'">
                                {{City.keywords}} 
                            </div>
                            <div class="col-md-1">
                                <i class="fa fa-pencil btn btn-success" 
                                    (click)="setButtonClicked('','keywords')"
                                    *ngIf="formFields.keywords =='keywords'"
                                    aria-hidden="true">
                                </i>
                                <button type="submit" class="btn btn-success"
                                    *ngIf="formFields.keywords ==''"
                                    (click)="setButtonClicked('keywords','keywords'); 
                                    onSubmit({keywords:City.keywords})">
                                    <i class="fa fa-floppy-o" aria-hidden="true">
                                    </i>
                                </button>
                            </div>
                            <div class="form-group col-md-8" *ngIf="formFields.keywords == ''"
                                [ngClass]="{'has-error':formErrors.keywords, 
                                'has-success':CityForm.controls['keywords'].valid}">
                                <input type="text" formControlName="keywords" 
                                [(ngModel)] ="City.keywords"
                                class="form-control" id="keywords"/>
                                <span *ngIf="formErrors.keywords" class="help-block error">
                                    {{ formErrors.keywords }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3" *ngIf="formFields.descriptions == 'descriptions'">
                            Descriptions:</div>
                            <div class="col-md-8" *ngIf="formFields.descriptions == 'descriptions'">
                                {{City.descriptions}}
                            </div>
                            <div class="col-md-1">
                                <i class="fa fa-pencil btn btn-success" 
                                    (click)="setButtonClicked('','descriptions')"
                                    *ngIf="formFields.descriptions =='descriptions'"
                                    aria-hidden="true">
                                </i>
                                <button type="submit" class="btn btn-success"
                                    *ngIf="formFields.descriptions ==''"
                                    (click)="setButtonClicked('descriptions','descriptions'); 
                                    onSubmit({descriptions:City.descriptions})">
                                    <i class="fa fa-floppy-o" aria-hidden="true">
                                    </i>
                                </button>
                            </div>
                            <div class="form-group col-md-11"*ngIf="formFields.descriptions == ''"
                            [ngClass]="{'has-error':formErrors.descriptions, 
                            'has-success':CityForm.controls['descriptions'].valid}">
                                <textarea class="form-control" id="descriptions" cols="10"
                                formControlName="descriptions"
                                [(ngModel)] ="City.descriptions"></textarea>
                                <span *ngIf="formErrors.descriptions" class="help-block error">
                                    {{ formErrors.descriptions }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>