<div class="col-lg-9" id="content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a [routerLink]="['../../']" class="btn btn-success" *ngIf="id">
                <i class="fa fa-list" aria-hidden="true"></i>
            </a>
            <a [routerLink]="['../']" class="btn btn-success" *ngIf="!id">
                <i class="fa fa-list" aria-hidden="true"></i>
            </a>
            <span class="title">
                {{ActionTitle}}
            </span>
        </div>
        <div class="panel-body" *ngIf="Country">
            <div class="alert alert-success" role="alert" *ngIf="successMessage">
                {{successMessage}}
            </div>
        <form [formGroup]="CountryForm"  (ngSubmit)="onSubmit(CountryForm.value)" novalidate >
            <div class="row">
                    <div class="form-group col-md-9" 
                    [ngClass]="{'has-error':formErrors.name, 
                    'has-success':CountryForm.controls['name'].valid}">
                        <label class="control-label"  for="name">Country name</label>
                        <input type="text" [(ngModel)] ="Country.name" formControlName="name" 
                        class="form-control" id="name"/>
                        <span *ngIf="formErrors.name" class="help-block error">
                            {{ formErrors.name }}
                        </span>
                    </div>
                    <div class="form-group col-md-3"
                    [ngClass]="{'has-error':formErrors.active, 
                    'has-success':CountryForm.controls['active'].valid}">
                        <label class="control-label"  for="active">Active</label>
                        <select name="active" class="form-control" 
                        formControlName="active"
                        [(ngModel)] ="Country.active">
                        <option value=""></option>
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                        </select>
                        <span *ngIf="formErrors.active" class="help-block error">
                            {{ formErrors.active }}
                        </span>
                    </div>
            </div>
                <div class="row">
                    <div class="form-group col-md-9"
                    [ngClass]="{'has-error':formErrors.url, 
                    'has-success':CountryForm.controls['url'].valid}">
                        <label class="control-label"  for="title">URL [meta tags]</label>
                        <input type="text" formControlName="url" 
                        [(ngModel)] ="Country.url"
                        class="form-control" id="url"/>
                        <span *ngIf="formErrors.url" class="help-block error">
                            {{ formErrors.url }}
                        </span>
                    </div>
                    <div class="form-group col-md-3"
                    [ngClass]="{'has-error':formErrors.priority, 
                    'has-success':CountryForm.controls['priority'].valid}">
                        <label class="control-label"  for="priority">Priority</label>
                        <input type="number" formControlName="priority" 
                        [(ngModel)] ="Country.priority"
                        class="form-control" id="priority"/>
                        <span *ngIf="formErrors.priority" class="help-block error">
                            {{ formErrors.priority }}
                        </span>
                    </div>
                </div>
                
                <div class="row">
                    <div class="form-group col-md-12"
                    [ngClass]="{'has-error':formErrors.keywords, 
                    'has-success':CountryForm.controls['keywords'].valid}">
                        <label class="control-label"  for="keywords">Keywords [meta tags]</label>
                        <input type="text" formControlName="keywords" 
                        [(ngModel)] ="Country.keywords"
                        class="form-control" id="keywords"/>
                        <span *ngIf="formErrors.keywords" class="help-block error">
                            {{ formErrors.keywords }}
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12"
                    [ngClass]="{'has-error':formErrors.descriptions, 
                    'has-success':CountryForm.controls['descriptions'].valid}">
                        <label class="control-label"  for="descriptions">Descriptions [meta tags]</label>
                        <textarea class="form-control" id="descriptions" cols="10"
                        formControlName="descriptions"
                        [(ngModel)] ="Country.descriptions"></textarea>
                        <span *ngIf="formErrors.descriptions" class="help-block error">
                            {{ formErrors.descriptions }}
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <input type="submit" value="Save" 
                        [disabled]=!CountryForm.valid
                        class="btn btn-lg btn-block btn-primary"/>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
